@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@import "backend/overrides";
@import "~materialize-css/sass/materialize";

$pearly-white-overlay: #d5e6e5;
$anchor-color: color('orange', 'darken-2');
$error-text: color('red', 'base');

html {
    font-family: 'Lato', sans-serif;
}

.container {
    margin-top: 5em;
    height: auto;
    @media #{$extra-large-and-up} {
        width: 30%;
    }

    @media #{$large-and-up} {
        width: 45%;
    }

    @media #{$medium-and-down} {
        width: 60%;
    }

    @media #{$small-and-down} {
        width: 100%;
    }
}

.tabs .indicator {
    background-color: $pearly-white-overlay;
    height: 60px;
    opacity: 0.15;
}

.form-container {
    padding: 10px 40px 40px;
}

#fss-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: -9999;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #FFF !important;
}

a {
    color: $anchor-color;
    &:hover {
        color: lighten($anchor-color, 10%);
    }
}

.btn {
    font-weight: 700;
    color: color('grey', 'darken-4');
}

.error {
    font-weight: 700;
    color: $error-text;
}

.status {
    margin-top: -0.5em;
}
